@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8FAFC; /* off-white */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

body::before,
body::after {
  content: '';
  position: fixed;
  z-index: -1;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.15;
}

body::before {
  background: radial-gradient(circle, #FBBF24, transparent 60%);
  width: 400px;
  height: 400px;
  top: 10vh;
  left: 10vw;
}

body::after {
  background: radial-gradient(circle, #3B82F6, transparent 60%);
  width: 500px;
  height: 500px;
  bottom: 15vh;
  right: 5vw;
}